#section_1,
#section_3 {
  background-color: #b948713e;
  color: #7e334f;
}

#section_2,
#section_4 {
  background-color: #b9487172;
  color: white;
}

section {
  display: grid;
  justify-content: center;
}

.container {
  max-width: 1000px;
}

#section_1 .container,
#section_2 .container,
#section_3 .container,
#section_4 .container {
  margin: 30px;
}

.portraet {
  padding-bottom: 20px;
}

#section_3 img {
  padding-block: 10px;
}

.layout {
  height: 800px;
}

@media (min-width: 600px) {
  .banner_tekst {
    font-size: 2rem;
  }

  #section_1 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-block: 100px;
    align-items: center;
  }

  .video_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #section_2 .container,
  #section_3 .container,
  #section_4 .container {
    margin-block: 100px;
  }

  /* Galleri */
  .galleri_grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .billede_1 {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .billede_2 {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .billede_3 {
    display: grid;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  .billede_4 {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
}
